.hidden{
  display: none !important;
}
#test-container{
  padding: 15px
}
*:focus{
  outline: none;
}
/*#main-body{
  margin-top: 69px;
  padding: 20px;
  padding-top: 0;
}*/

.navbar-default{
  background-color: #3a8a92;
}
.navbar-brand{
  color: white !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#sidebar-question-index{
  list-style-type: none;
}
#sidebar-question-index {
  text-align: center;
  color:#b3b3b3;
}
#sidebar-question-index span{
  float:left;
  width:25px;
  height: 25px;
  background-color: white;
  text-align: center;
  margin:4px;
  cursor: pointer;
  border-radius: 2px;
  color:#848484;
}
#sidebar-question-index span.attempted{
  background-color: #98d298;
  color:white;
}
#sidebar-question-index span.attempting{
  background-color: #e5e5e5;
  font-weight: bold;
  color: #848484;
}

#test_submit_btn{
  display: block;
  cursor:pointer;
  background-color: #3f51b5;
  height: 20px;
  padding: 17px;
}
/*CSS FOR NAVBAR WITH SLIDER FROM SIDE ENDS HERE*/

.answer-button{
  min-width: 370px;
  text-align: center;
  min-height: 60px;
  
}
.selected-option, .selected-option:hover{
  background-color: #98d298 !important;
}
.unselected-option{
  background-color: #e5e5e5;
}

.question-text{
  min-height: 50px;
}
