.entity-panel{ 
  height: 80px;
  -webkit-box-shadow: 10px 10px 67px -23px rgba(46,44,46,1);
  -moz-box-shadow: 10px 10px 67px -23px rgba(46,44,46,1);
  box-shadow: 10px 10px 67px -23px rgba(46,44,46,1);
  text-align: center;
  padding: 10px;
  margin: 15px 0; 
}
