
.entity-panel{ 
  height: 80px;
  -webkit-box-shadow: 10px 10px 67px -23px rgba(46,44,46,1);
  -moz-box-shadow: 10px 10px 67px -23px rgba(46,44,46,1);
  box-shadow: 10px 10px 67px -23px rgba(46,44,46,1);
  text-align: center;
  padding: 10px;
  margin: 15px 0; 
}
.stream{
  width: 350px;

}
.chapter_holder{
  border: 1px solid black;
}
.chapter{
  width: 300px;
}
.small {
    width: 450px;
    border: 1px solid black;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.large {
    width: 650px;
    border: 1px solid black;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#main div {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
.pie {
    width: 200px;
    height: 200px;
    border: 1px  black;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex: auto;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px
}