<style>
  #attempt-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100000;
    background-color: white;
    display: table;
    text-align: center;
  }
  #attempt-overlay content{
    display: table-cell;
    vertical-align: middle;
  }
</style>

<div ng-hide="$ctrl.show_all_questions" layout="row" layout-xs="column" layout-padding style="min-height: 500px;">
  <div flex-gt-xs="15"  md-whiteframe="2">
    <div id="sidebar-question-index">
      <p hide-xs>List</p>
      <span class="{{item.class}}" ng-repeat="item in $ctrl.question_status_data.data track by $index" ng-click="$ctrl.change_question($index)">
        {{$index + 1}}
      </span>
    </div>
  </div>
  <div flex-gt-xs="85"  layout="column" layout-align="top center">
    <!-- <p ng-click="$ctrl.show_data();" >See the data at Attemp controller</p> -->
    <p class="question-text" ><span math-jax-bind="$ctrl.fetched_questions[$ctrl.current_question_index.data].question_text" ></span></p>

    <div ng-repeat="answer in $ctrl.fetched_questions[$ctrl.current_question_index.data].answers">
      <md-button class="answer-button {{$ctrl.diagnostic_test_data.diagnostic_test.short_choice_questions[$ctrl.fetched_questions[$ctrl.current_question_index.data].short_choice_question_id].answer_selected == answer.short_choice_answer_id ? 'selected-option' : 'unselected-option'}}"  ng-click="$ctrl.select_answer($ctrl.fetched_questions[$ctrl.current_question_index.data].short_choice_question_id, $index)"><span math-jax-bind="answer.answer_text" ></span></md-button>
    </div>
  </div>
</div>


<div ng-if="$ctrl.show_all_questions" layout="column" layout-align="center" flex-offset="20" flex-offset-xs="0" flex="60" flex-xs="100">
  
  <div layout-padding layout="row" layout-align="center center" md-whiteframe="2">
    <md-button class="md-raised md-primary" ng-click="$ctrl.toggleAllQuestionView()">Review</md-button>
    <md-button class="md-raised" ng-click="$ctrl.submit_test()">Submit</md-button>
  </div>

  <div md-whiteframe="2">
    <div ng-repeat="question in $ctrl.fetched_questions" layout="column" layout-align="center center">
      <p class="question-text" ><span math-jax-bind="question.question_text" ></span></p>

      <div ng-repeat="answer in question.answers">
        <md-button class="answer-button {{$ctrl.diagnostic_test_data.diagnostic_test.short_choice_questions[question.short_choice_question_id].answer_selected == answer.short_choice_answer_id ? 'selected-option' : 'unselected-option'}}"><span math-jax-bind="answer.answer_text" ></span></md-button>
      </div>
      <br>
    </div>
  </div>
</div>

<div id="attempt-overlay" layout-padding>
  <content>
    <span>{{$ctrl.test_start_text}}</span>
    <li>Keep your pen and paper ready</li>
    <li>Your timer will start when you press the start button</li>
    <li>FASTER replies will get you bonus points</li>
    <md-button ng-click="start_test()" id="start-test-btn" class="md-raised md-primary" disabled>Start</md-button>
  </content>
</div>

<!--   <br><br><br><br><br><br><br><br><br><br>
  <pre>{{$ctrl.diagnostic_test_data | json}}</pre> -->



<script type="text/javascript">
  // $("#start-test-btn").on("click", function(){
  //   console.log("Starting the test now")
  //   $("#attempt-overlay").addClass("hidden");
  // })      
</script>