<style>
  #attempt-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100000;
    background-color: white;
    display: table;
    text-align: center;
  }
  #attempt-overlay content{
    display: table-cell;
    vertical-align: middle;
  }
</style>

<div id="test-container" layout="column" layout-align="top center">
  <p><span math-jax-bind="$ctrl.fetched_questions[$ctrl.current_question_index].question_text" ></span></p>

  <div ng-repeat="answer in $ctrl.fetched_questions[$ctrl.current_question_index].answers">
    <md-button class="answer-button {{$ctrl.diagnostic_test_data.diagnostic_test.short_choice_questions[$ctrl.fetched_questions[$ctrl.current_question_index].short_choice_question_id].answer_selected == answer.short_choice_answer_id ? 'selected-option' : 'unselected-option'}}"  ng-click="$ctrl.select_answer($ctrl.fetched_questions[$ctrl.current_question_index].short_choice_question_id, $index)"><span math-jax-bind="answer.answer_text" ></span></md-button>
  </div>
</div>

<div id="attempt-overlay">
  <content>
    <span>{{$ctrl.test_start_text}}</span>
    <li>Keep your pen and paper ready</li>
    <li>Your timer will start when you press the start button</li>
    <li>FASTER replies will get you bonus points</li>
    <md-button ng-click="start_test()" id="start-test-btn" class="md-raised md-primary" disabled>Start</md-button>
  </content>
</div>

  <br><br><br><br><br><br><br><br><br><br>
  <pre>{{$ctrl.diagnostic_test_data | json}}</pre>



<script type="text/javascript">
  // $("#start-test-btn").on("click", function(){
  //   console.log("Starting the test now")
  //   $("#attempt-overlay").addClass("hidden");
  // })      
</script>